@model IEnumerable<OnlineStore.Models.Company>

@{
    ViewData["Title"] = "د رنګونو شرکتونه";
}



<div class="row" id="view-all1">
    @await Html.PartialAsync("_ViewAll", Model)
</div>
@section scripts{
    <script src="~/lib/Alertify/alertify.js"></script>

    <script type="text/javascript">
        //$(function () {
        //    $('#tbl').dataTable({
        //        "sScrollX": "100%", "responsive": true, "bAutoWidth": true, "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, 'iDisplayLength': 8, "aLengthMenu": [[8, 10, 25, -1], [8, 10, 25, "All"]], "aaSorting": [],
        //        dom: 'Bfrtip',
        //        buttons: [
        //            'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print'
        //        ]
        //    });
        //});
    </script>
}