<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineStore</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link href="~/lib/datatables.css" rel="stylesheet" />*@

    @*<link href="~/lib/DataTables-1.11.4/css/jquery.dataTables.css" rel="stylesheet" />*@
    <link href="~/lib/DataTables-1.11.4/css/dataTables.bootstrap4.css" rel="stylesheet" />



    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/lib/select2/select2.css" rel="stylesheet" />
    <link href="~/lib/Alertify/css/alertify.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><p style="color:#eb7752;margin-top:10px;font:bolder 27px arial,verdena;"> HBL Stores</p></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="Customer" asp-controller="Home" asp-action="Index">Dashboard </br>لومړنی پاڼه</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Company" asp-action="Index">Company <br /> (درنګونو شرکت)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Color" asp-action="Index">Colors  <br />(درنګونو ډولونه )</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="ProductOrOrder" asp-action="Index">Products Billing <br /> ( د رسیدونو رسول)</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User Management <br /> (دسیستم اجازه ورکول) </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index"> User Management (د کارونکی جوړول)</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Role" asp-action="Index">Role Management (د سیستم دندی جوړول)</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Role" asp-action="Assign">Assign Role (د سیستم دنده ورکول)</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Role" asp-action="AssignUserRole">All Users Role (د کارونکی دندی کتل)</a>
                        </div>
                    </li>
                </ul>
                <partial name="_LoginPartial" />


            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - (omar.safiullah@gmail.com ) +93 778 754 371 - <a asp-area="Customer" asp-controller="Home" asp-action="">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script src="~/lib/notify.js"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/lib/select2/select2.js"></script>
    @*<script src="~/lib/datatables.js"></script>*@
    <script src="~/lib/DataTables-1.11.4/js/jquery.dataTables.js"></script>
    <script src="~/lib/DataTables-1.11.4/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/HChart/highcharts.js"></script>
    <script src="~/lib/HChart/exporting.js"></script>
    <script src="~/lib/HChart/grid-light.js"></script>

    <script src="~/lib/HChart/no-data-to-display.js"></script>
    <script src="~/lib/HChart/offline-exporting.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
