
@model IEnumerable<OnlineStore.Models.ProductOrOrder>
@{
    ViewData["Title"] = "خریداری او فروشات";
}



<div class="row" id="view-all1">
    @await Html.PartialAsync("_ViewAllProductOrOrder", Model)

</div>

