
@{
    ViewData["Title"] = "NewIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form>

    <div class="row">
        <div class="col-md-4">
            <fieldset>
                <legend class="text-z">Order Information</legend>
                <div class="form-row border-right p-3">
                    <div class="form-group col-md-12 ">
                        <label class="col-sm-12 col-form-label col-form-label-sm">Bill Date</label>
                        <input type="text" value="" id="txtDate" class="form-control date form-control-sm" name="Date" />
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-sm-12 col-form-label col-form-label-sm">Bill Number</label>
                        <input type="text" id="txtBillNumber" value="" class="form-control form-control-sm" name="BillNumber" />
                    </div>
                    <div class="form-group col-md-12">
                        <label class=" col-form-label col-form-label-sm"> Order Type</label>
                        <select id="ddlInOut" class="form-control form-control-sm">
                            <option value="0">Please Select..</option>
                            <option value="1">Purchase (خرید)</option>
                            <option value="2">Sell (فروش)</option>
                        </select>

                    </div>
                </div>


            </fieldset>
        </div>
        <div class="col-md-8">
            <fieldset>
                <legend>Product Details</legend>
                <table id="subOrder" class="table table-condensed">
                    <thead>
                        <tr style="text-align:center;">
                            <th>S.No</th>
                            <th>Color</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                        <tr style="text-align:center;">
                            <td></td>
                            <td>
                                <select id="ddlColor" class="form-control select form-control-sm" asp-items="@(new SelectList(@ViewBag.colorList,"Id", "Name"))">
                                    <option value="0">Please Select..</option>
                                </select>
                            </td>
                            <td><input type="text" value="" id="txtQuanity" onchange="SumQuantity()" /></td>
                            <td><label id="lblsubTotal" class="font-weight-bolder" style="color:red;font-family:Algerian"></label></td>
                            <td>
                                <input type="button" value="Add" id="btnAdd" onclick="AddRow()" />
                                <input type="button" value="Remove" id="btnAdd" onclick="removeRow()" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </fieldset>
            <div class="form-group">
                <input type="button" id="btnSave" value="Create" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>



</form>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script type="text/javascript">
        $(function () {
            $('.date').datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true,
                orientation: 'bottom left'
            });
            $('#ddlColor').select2();

            $("#btnSave").on("click",function (e) {
                e.preventDefault();
                Save();
            });
        });
        let serial = 1;
        function AddRow() {

            var markup = `<tr style="text-align:center;">
                                <td>${serial}</td>
                                <td><span style='display:none;'>${$('#ddlColor').val()}</span><span>${$('#ddlColor').find('option:selected').text()}</span></td>
                                <td><span>${$('#txtQuanity').val()}</span></td>
                                <td><span id='total'></span></td>
                                <td><input type='checkbox' name='record'/></td>`;
            $('#subOrder tbody').append(markup);
            $('#subOrder input[id="txtQuanity"]').val('').focus();
            SumQuantity();
            serial++;
        }

        const removeRow = (obj) => {
            $('#subOrder tbody tr ').find('input[name="record"]').each(function () {
                if ($(this).is(":checked")) {
                    $(this).parents("tr").remove();
                }
            });

            SumQuantity();
        }

        const SumQuantity = () => {
            var total = 0;
            $('#subOrder tbody tr').each(function () {
                var quantity = parseFloat($(this).find("td:eq(2) span").html());
                total += quantity;
                $(this).find("td:eq(3) span[id='total']").text(total);
            });

            $('label[id="lblsubTotal"]').text(total);
        }

        const Save = () => {
            var form = {};

            form.BillNumber = $('#txtBillNumber').val();
           form.Date = $('#txtDate').val();
            form.InOut = $('#ddlInOut').val();
            form.Id = $('#ddlInOut').val();
            var detail = new Array();
            $("#subOrder tbody tr").each(function () {
                var lst = {};
                lst.ColorId = $(this).find('td:eq(1)').find('span:eq(0)').html();
                lst.Quantity = $(this).find('td:eq(2)').find('span').html();
                detail
                    .push(lst);
            });
            form.Details = detail;

            //var jsonObject = JSON.stringify(form );
          //  console.log(jsonObject);
            $.ajax({
                type: "POST",
                //url: '~/ProductOrOrder/SaveOrder',
                url: '@Url.Action("SaveOrder", "ProductOrOrder")',
                data: JSON.stringify(form),
               dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.result = true)
                        $.notify("Submitted Successfully ", { globalPosition: 'top center', className: 'success' });
                },
                error: function (data) {
                    alert("error found");
                }

            });
        }

    </script>
}





