@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-4 m-0 p-0">
        <div class="row">
            <div class="col-md-12">
                <div class=" p-2  float-left">
                    <h6 class="font-weight-bold">(1).  د اجناسو راپور د تاریخ او بیل نمیر په اساس </h6>

                    <form class="form-inline" asp-action="GetBillInfo" asp-controller="Home" method="post" id="user-form" enctype="multipart/form-data">
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">رسید نیټه</span>
                                    </div>
                                    <input type="text" data-val="true" data-val-required="First Date field is required." class="form-control date" readonly="readonly" name="Date" id="Date" />

                                </div>
                                <span class="field-validation-valid " data-valmsg-for="Date" data-valmsg-replace="true"></span>

                            </div>
                            <div class="col-md-12">
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">رسید شمیره</span>
                                    </div>
                                    <input type="text" class="form-control" data-val="true" data-val-required="Bill Number is Required" name="Bill" placeholder="" id="Bill" />
                                </div>
                                <span class="field-validation-valid" data-valmsg-for="Bill" data-valmsg-replace="true"></span>

                            </div>

                        </div>
                        <div class="col-md-12">

                            <input type="submit" value="Create Report جوړول" class="btn btn-primary btn-block" />

                        </div>





                    </form>
                </div>
            </div>


            <div class="col-md-12 mt-5 ">

                <h6 class="font-weight-bold">(2).  د ګودام عمومی بیلانس راپور</h6>

                <a asp-action="StockInfo" asp-controller="Home" asp-area="Customer" class="btn btn-primary btn-block p-2 mt-2 ">Generate Summary Report جوړول </a>

            </div>
            <div class="col-md-12 mt-5">


                <h6 class="font-weight-bold">(3).  د رنګونو کوډ راپور</h6>

                <a asp-action="ColorCodeInfo" asp-controller="Home" asp-area="Customer" class="btn btn-primary btn-block mt-1 p-2">Generate  Report جوړول </a>



            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="containerChart" class="col-md-12 border ml-5 float-right">

        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">

        $(function () {

            $("#user-form").submit(function (event) {

                if ($("#Date").val() == '' || $("#Bill").val() == '') {

                    return false;
                }
                return true;
            });

            $('.date').datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true,
                orientation: 'bottom left'
            });

            GetChartData();
    });


        function GetChartData() {

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetChartInfo", "Home")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ name: "city" }),
                dataType: "json",
                success: function (res) {

                    //console.log(res.responseText);

                    Code = []; Qnt = [];
                    //total = 0; avg = [];
                    //alert(res.responseText.length);

                    //for (var i = 0; i < res.responseText.length; i++) {
                    //    console.log(res.responseText[i].quantity);
                    //    //Do something
                    //}
                    $.each(res.responseText, function (i, x) {
                        //console.log(x.code);

                        Code.push(x.code);
                        Qnt.push(x.quantity);
                    //    avg.push(x.doc);
                    //    total = total + x.doc;
                    });


                    $('#containerChart').highcharts({
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: 'د کود په اساس درنګونو شمیر'
                        },
                        subtitle: {
                            text: 'Number of Colors By Code Type'
                        },
                        xAxis: {
                            categories: Code,
                            crosshair: true

                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle',
                            borderWidth: 0
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                            footerFormat: '</table>',
                            shared: true,
                            useHTML: true
                        },
                        yAxis: {
                            min: 0, labels: {
                                formatter: function () {
                                    return this.value;
                                }
                            },
                            title: {
                                text: 'درنګونو شمیر'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        series: [{
                            type: 'column',
                            name: 'کوډ',
                            data: Qnt
                        }]
                    });

                },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });


        }





    </script>
}
